.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.tmp
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Kotlin ###
.kotlin


### Mac OS ###
.DS_Store

### Credentials ###
.env
*.properties
!gradle.properties

### Logs ###
*.log

### Project-specific ###
tokens/
local.properties

*.jks
*.p12
*.pem
*.crt
keystore.*
